.WorkoutSchedule {
  padding: 20px;
}

.WorkoutSchedule h2 {
  text-align: center;
  font-size: 250%;
  font-weight: lighter;
}

.WorkoutSchedule .workout-cards {
  display: flex;
  justify-content:space-evenly ; /* Adjusted spacing */
  flex-wrap: wrap; /* Allow cards to wrap onto new lines */
  flex-flow: row wrap-reverse;
  gap: 20px; /* Add some gap between cards */
}

@media (max-width: 768px) {
  .WorkoutSchedule .workout-cards {
    justify-content: center; /* Center cards on smaller screens */
  }

  .WorkoutSchedule .workout-card {
    flex: 1 0 calc(50% - 20px); /* Two cards per row with gap */
    max-width: calc(50% - 20px); /* Maximum width for two cards per row */
  }
}

@media (max-width: 480px) {
  .WorkoutSchedule .workout-card {
    flex: 1 0 100%; /* One card per row on smaller screens */
    max-width: 100%; /* Full width for one card per row */
  }
}
