.WorkoutCard {
  position: relative;
  width: 250px; /* Initial width */
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.WorkoutCard:hover {
  transform: scale(0.98); /* Scale down on hover */
}

.workoutImageButton {
  padding: 0;
  border: none;
  background: none;
  cursor: pointer;
  position: relative;
  width: 100%;
  height: 100%;
}

.workoutImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: opacity 0.3s;
}

.dark .workoutImage {
  opacity: 0.7; /* Add dark overlay */
}

.eventName {
  text-transform: uppercase;
  position: absolute;
  top: 60%; /* Adjust if necessary to prevent overlap with details */
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 200%; /* Adjust based on your design */
  color: white;
  text-align: left;
  margin: 0;
  width: 98%; /* Adjust as necessary to fit within card's padding */
  white-space: normal; /* Allow wrapping */
  word-break: break-word; /* Break long words */
}

.eventName.light {
  color: white;
}

.eventDetails {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-sizing: border-box;
}

.details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: column;
}

.smallText {
  font-size: 0.8em;
  margin: 2px 0;
}

.iconContainer {
  display: flex;
}

.button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 5px;
}

.likeButton,
.dislikeButton {
  background: none; /* Ensure the button itself has no background */
  border: none; /* Ensure the button has no border */
  padding: 0; /* Remove any default padding */
  cursor: pointer;
  margin-left: 10px;
}

.likeButton svg,
.dislikeButton svg,
.bookmarkButton svg {
  width: 30px;
  height: 30px;
  fill: rgba(255, 255, 255, 0.6);
  transition: fill 0.3s;
}

.likeButton:hover svg,
.dislikeButton:hover svg,
.bookmarkButton:hover svg {
  opacity: 0.8; /* Change opacity on hover */
}

.likeButton.liked svg {
  fill: #2ecc71; /* Green when liked */
}

.dislikeButton.disliked svg {
  fill: #e74c3c; /* Red when disliked */
}

.bookmarkButton.bookmarked svg {
  fill: gold; /* Yellow when bookmarked */
}

.bookmarkButton {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  z-index: 1;
}

@media (max-width: 768px) {
  .WorkoutCard {
    width: 200px; /* Shrink width on smaller screens */
  }

  .eventName {
    top: 56%;
  }
}

@media (max-width: 480px) {
  .WorkoutCard {
    width: 150px; /* Further shrink width on mobile */
  }

  .smallText {
    font-size: 0.7em;
    margin: 2px 0;
  }

  .eventDetails {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 23%;
    width: 100%;
    padding: 10px;
    text-align: left;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-sizing: border-box;
  }

  .likeButton svg,
  .dislikeButton svg {
    width: 25px;
    height: 25px;
  }
}
