.hero {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh; /* Adjust the height as needed */
    overflow: hidden;
  }
  
  .heroImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .filter{
    background-color: rgb(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
  }
  
  .heroContent {
    position: absolute;
    text-align: center;
    color: #fff;
    padding: 20px;
    border-radius: 10px;
  }
  
  .logo {
    width: 90%;
  }
  
  .heroBody {
    font-size: 18px;
    margin-bottom: 30px;
    color: #ddd;
  }
  
  .heroButton {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    color: #000;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 25px;
    max-width: 25%;
    text-align: center;
  }
  
  @media (max-width: 991px) {
    .heroContent {
      width: 90%;
    }
  }
  