.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.mainContent {
  flex: 1;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
  transition: top 0.2s ease-in-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.hidden {
  top: -500px; /* Adjust this value according to the height of your header */
}
