.Header {
  padding: 10px px;
  position: fixed;
  width: 100%;
  z-index: 1000; /* Adjust z-index as needed */
}

.content {
  padding-top: 60px; /* Adjust according to your navbar's height */
  /* Other styles for your main content */
}