.mobileMenu {
    display: none;
    z-index: 2;
    top: 99.6%;
  }
  
  @media (max-width: 991px) {
    .mobileMenu {
      display: block;
      position:absolute;
      right: 0;
      background-color: rgba(0, 0, 0, .5);
      padding: 20px;
    }
  
    .mobileNavList {
      list-style-type: none;
      padding: 0;
      margin: 0;
    }
  
    .mobileNavList li {
      margin-bottom: 10px;
    }
  
    .mobileNavList a {
      text-decoration: none;
      color: #ffffff;
      font-size: 175%;
    }
  }